@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

html,
body {
  height: 100%;
  font-family: Inter, sans-serif;
  color: white;
  background-color: #23242c;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

main.page {
  margin: 125px 15px auto;
}

.content {
  width: 80%;
  margin: 0 auto;
}

a {
  color: #00eeee;
}

h1 {
  font-size: 3rem;
  font-family: Outfit, sans-serif;
  line-height: 3rem;
}

h2 {
  margin: 30px auto;
  font-family: Outfit, sans-serif;
}

.add {
  color: #ff8800;
}

.command-list li {
  border-bottom: 1px solid #ff7700;
}

.light-text {
  color: #aaaaaa;
}

.command {
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  position: sticky;
  top: 100vh;
  padding: 1rem;
  margin: -8px;
  margin-top: 125px;
  background-color: #000;
}

footer main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}

footer main div {
  display: flex;
  flex-direction: column;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  color: #b8b8b8;
  margin-bottom: 0;
  margin-top: 15px;
}

footer h1 {
  font-family: Outfit, sans-serif;
  font-size: 2rem;
}

footer a {
  margin: 5px;
  text-decoration: none;
  color: #dddddd;
}

@media only screen and (max-width: 690px) {
  main.page {
    margin: 125px auto;
  }

  .content {
    width: 90%;
  }
}
